.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: CircularStd,Helvetica, Arial, sans-serif;
  background-color: rgb(40,40,40);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  margin-top:-30px; 
  position: relative;
  color:white;
}

.desc{
  color: rgb(170,170,170);
}

.footer{
  color: rgb(170,170,170);
  position: relative;
  text-align: center;
  bottom:0px;
}

.loginButton{
  position: relative;
  text-align: center;
}

.github{
  color: rgb(170,170,170);
  display: inline-block;
}
.github:hover{
  color:rgb(220,220,220);
}
