.Lyrics {
    font-family: CircularStd,Helvetica, Arial, sans-serif;
    background-color: rgb(40,40,40);
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

.strip{
    color: white;
    text-align: left;
    padding-left: 25px;
    margin:0px;
}

.fill {
    width: 100%;
}

.logout{
    padding-top: 50px;
    padding-bottom: 50px;
    align-self: center;
}

.noMargins {
    margin: 0px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 0px;
}

h3 {
    margin: 0px;
}

h4 {
    color: #1DB954;
}