@font-face {
  font-family: 'Circular';
  src: local('FiraSans'),
    url(./fonts/lineto-circular-black.ttf) format('truetype');
}

body {
  margin: 0;
  background-color: rgb(24, 24, 24);
  font-family: 'Circular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
